---
BasedOnStyle: LLVM
Language: Cpp

UseTab: Never
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4

ColumnLimit: 120
BreakBeforeBraces: Attach
NamespaceIndentation: None
IndentCaseLabels: true
IndentAccessModifiers: false
AccessModifierOffset: -4

PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements
AlignAfterOpenBracket: DontAlign
BinPackArguments: false
BinPackParameters: false

AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<(winsock2|ws2tcpip)\.h>$'
    Priority: 1
  - Regex: '^<windows\.h>$'
    Priority: 2
  - Regex: '^<.*>$'
    Priority: 3
  - Regex: '^"vendor/.*"$'
    Priority: 4
  - Regex: '^".*"$'
    Priority: 5
MainIncludeChar: Quote
IncludeIsMainRegex: '(Test)?$'
SortIncludes: CaseInsensitive
SeparateDefinitionBlocks: Always
ReflowComments: false
SpacesBeforeTrailingComments: 2
