#include <winres.h>
#include "resource.h"

IDI_APP_ICON ICON "app.ico"
IDR_PANEL_ICONS PNG "panel_icons.png"

IDD_CUSTOM_SCALE DIALOGEX 0, 0, 176, 62
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "Custom Scale"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "Scale percentage:", IDC_CUSTOM_SCALE_PROMPT, 8, 10, 74, 8
    EDITTEXT        IDC_CUSTOM_SCALE_EDIT, 86, 8, 50, 14, ES_AUTOHSCROLL | ES_LEFT
    LTEXT           "%", -1, 140, 10, 8, 8
    DEFPUSHBUTTON   "OK", IDOK, 69, 38, 45, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 121, 38, 45, 14
END

IDD_LAYOUT_EDIT_CONFIGURATION DIALOGEX 0, 0, 430, 274
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Configuration"
FONT 9, "Segoe UI"
BEGIN
END

IDD_UNSAVED_LAYOUT_EDIT DIALOGEX 0, 0, 220, 84
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "CaseDash"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "", IDC_UNSAVED_LAYOUT_EDIT_MAIN, 8, 8, 204, 16
    LTEXT           "", IDC_UNSAVED_LAYOUT_EDIT_CONTENT, 8, 28, 204, 20
    DEFPUSHBUTTON   "Save", IDC_UNSAVED_LAYOUT_EDIT_SAVE, 43, 60, 40, 14
    PUSHBUTTON      "Discard", IDC_UNSAVED_LAYOUT_EDIT_DISCARD, 89, 60, 46, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 141, 60, 40, 14
END

IDD_ABOUT DIALOGEX 0, 0, 316, 118
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "About CaseDash"
FONT 9, "Segoe UI"
BEGIN
    CONTROL         "", IDC_ABOUT_ICON, "Static", SS_ICON, 12, 14, 42, 42
    LTEXT           "", IDC_ABOUT_TEXT, 60, 14, 244, 70
    DEFPUSHBUTTON   "OK", IDOK, 135, 96, 45, 14
END
