#include "resource.h"

1 24 "SystemTelemetry.manifest"
IDI_APP_ICON ICON "app.ico"
IDR_PANEL_ICON_CPU PNG "cpu.png"
IDR_PANEL_ICON_GPU PNG "gpu.png"
IDR_PANEL_ICON_NETWORK PNG "network.png"
IDR_PANEL_ICON_STORAGE PNG "storage.png"
IDR_PANEL_ICON_TIME PNG "time.png"
IDR_CONFIG_TEMPLATE RCDATA "config.ini"
